* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --font-color: rgb(0, 0, 0);
  --background-color: #fff6e6;
  --secondary-background-color: #fffcf9;
}

body {
  background-color: #FBAB7E;
  background-image: linear-gradient(90deg, #ffa977 0%, #ffdb81 100%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/* COLUMNS AND ROWS */
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0 auto;
  margin-bottom: 0.5rem;
  color: var(--font-color);
  font-size: 2.6rem;
}

/* FONT SIZE */
.font-size-small {
  font-size: 1.2rem;
}
.font-size {
  font-size: 1.6rem;
}
.font-size-medium {
  font-size: 1.8rem;
}
.font-size-large {
  font-size: 2.6rem;
}
.text-bold {
  font-weight: bold;
}

/* ICONS */
.buddhism {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  /* background-color: var(--secondary-background-color); */
  border-radius: 50%;
  height: 100px; 
  width: 100px;
}

.bell,
.bell-slash {
  height: 80px;
  fill: var(--font-color);
}
.bell:hover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}
.bell-slash:hover {
  animation: shake 1s;
  animation-iteration-count: 1;
}
@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(4deg); }
  50% { transform: rotate(-4deg); }
  100% { transform: rotate(0); }
}

.timer-wrapper{
  background-color: var(--secondary-background-color);
  padding: 2rem;
  border-radius: 55px;
  box-shadow: black;
  /* X, Y offsets, blur, spread radius, color. */
  box-shadow: 0px 4px 5px rgb(255, 172, 117);
}

/* BUTTONS / LINKS */
button,
input[type="submit"],
input[type="reset"] {
  display: flex;
  background: none;
  color: inherit;
  padding: 0;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 0.5rem;
}

button:focus {
  outline: 3px dashed rgba(255, 0, 0, 0.2);
}
a:visited {
  color: var(--font-color);
}

/* COUNTER */
.countdown-text {
  margin-top: 1rem;
}

/* FOOTER */
footer {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 3rem;
  text-align: center;
}
div {
  color: var(--font-color);
  text-decoration-color: var(--secondary-color);
}
footer div {
  color: var(--secondary-color);
  text-decoration-color: var(--secondary-color);
  transition: ease-in 0.3s;
}
footer a {
  color: var(--font-color);
  text-decoration-color: var(--font-color);
}
